<h1>Welcome</h1>

<h3> Register </h3>
<form action="/user/new" method="POST">
  <label for="property">Enter your name:</label>
  <input type="text" name="name" id="name" required>
  <label for="property">Enter property name:</label>
  <input type="text" name="property" id="property" required>
  <button type="submit">Submit</button>
</form>